<ion-header>
  <ion-toolbar>
    <ion-title>Interviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="createNewInterview()">new interview</ion-button>
  <ion-list>
      <ion-list-header>
          Current Processes
        </ion-list-header>
    <ion-item *ngFor="let interview of interviews" >
     
      <ion-label>
          <h2>{{interview.companyName}}</h2>
          <h3>{{interview.date}} - {{interview.time}}</h3>
          <p>{{interview.status}}</p>
          <p>{{interview.location}} - sdfsadfsdfsdfasdfasdfsfdsdadadadadasdasd</p>
        </ion-label>
        <ion-icon name="list-box" slot="end" [routerLink]="['./', interview.companyName]"></ion-icon>
    </ion-item>
    
  </ion-list>
</ion-content>
