<ion-header>
  <ion-toolbar text-center>
    <ion-title>New Interview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <form>
              <ion-item>
                <ion-label position="floating">Company's Name</ion-label>
                <ion-input [(ngModel)]="form.companyName" name="companyName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Job description</ion-label>
                <ion-input [(ngModel)]="form.jobDescription" name="jobDescription"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime displayFormat="D MMM YYYY H:mm" min="2018" max="2040" value={{now}}>
                </ion-datetime>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="calendar"></ion-icon>
                <ion-label>Add to calendar</ion-label>
                <ion-toggle slot="end" checked></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-icon slot="start" name="alarm"></ion-icon>
                <ion-label>Add reminder</ion-label>
                <ion-toggle slot="end" checked></ion-toggle>
              </ion-item>
            <div margin-vertical text-right>
              <ion-button fill="outline" color="danger">
                <ion-icon slot="start" name="close"></ion-icon>Clear
              </ion-button>
              <ion-button (click)="closeModal()">
                   <ion-icon slot="start" name="add"></ion-icon>Add appointment
              </ion-button>
            </div>
          </form>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>